@import "~roboto-fontface/css/roboto/roboto-fontface.css";
body {
    margin: 0;
    padding: 0;
}

AppContainer {
    width: 100%;
    display: flex;
}

.container-actions-tabs {
    margin: 0 auto;
    width: 700px;
    margin-top: 50px;
}

@media (max-width: 700px) {
    .container-actions-tabs {
        width: 100%;
        margin-top: 0;
    }
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
    cursor: pointer;
}